*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 520px;
    max-width: 800px;
    height: 72%;
    min-height: 500px;
    margin: 5% auto;
}

header{
    border: 1px solid grey;
    width: 28%;
    height: 7%;
    padding: 0;
    margin: 1% auto;
}

h1{
    border: 1px solid cyan;
    width: 100%;
    margin: 0;
}

main{
    height: 90%;
}

#calc-container{
    width: 50%;
    max-width: 400px;
    min-width: 300px;
    height: 99%;
    margin: 1% auto;
}

#calc-content{
    border: 1px solid lime;
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 98%;
    margin: 1% auto;
}

#calc-display{
    border: 1px solid blue;
    height: 25%;
    width: 86%;
    margin: 0 auto;
}

#calc-separator-line{
    border: 1px solid brown;
    height: 2%;
    margin-bottom: 0;
}

#backspace{
    border: none;
    width: 12%;
    height: 8%;
    text-align: center;
    padding: 0;
    margin: 1% 0 0 82%;
}

#backspace-img{
    height: 100%;
    width: 100%;
    padding: 0;
    margin:0;
}

#button-container{
    border-top: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    justify-content: space-evenly;
    width: 99.5%;
    height: 55%;
    padding-top: 0.5%;
}

.button{
    border: 1px solid cyan;
    width: 18.5%;
    height: 19%;
    margin: 0.6% 0.8%;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.btn-text{
    align-self: center;
}